body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px dashed #9E9E9E;
    float: left;
    font-size: 20px;
    line-height: 34px;
    height: 60px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 60px;    
    display: grid;
    justify-content: center;
    align-items: center;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

div#board {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 0;
    grid-row-gap: 0px;
    justify-content: flex-start;
    margin-top: 40px;
}

.square:nth-child(7), .square:nth-child(8), .square:nth-child(9) {
    border-bottom: 0;
}

.square:nth-child(1), .square:nth-child(2), .square:nth-child(3) {
    border-top: 0;
}

.square:nth-child(3n+1) {
    border-left: 0;
}

.square:nth-child(3n) {
    border-right: 0;
}